*.iml
.gradle
/local.properties
**/build

# ============================ IntelliJ IDEA
*.ipr
*.iws
**/.idea/compiler.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/libraries
**/.idea/dictionaries
**/.idea/runConfigurations.xml
**/.idea/copyright/
**/.idea/inspectionProfiles/
**/.idea/kotlinc.xml
**/.idea/caches
**/.idea/assetWizardSettings.xml
out/
/scripts/.idea/

*.hprof
/.idea/shelf/
/.idea/jarRepositories.xml
/.idea/scala_settings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/kotlinScripting.xml
/.idea/AndroidProjectSystem.xml


.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/core-ui/build/
